*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #242d52;
  font-weight: 700;
}

p {
  color: #9095a7;
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.cta {
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ol {
  list-style: none;
  padding-left: 0;
}

button,
input {
  outline: none;
  border: none;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transition: background-color 400ms ease-out;
  z-index: -1;
}

.overlay.active {
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: 130px;
  transition: box-shadow 0.3s linear;
  position: relative;
  width: 100vw;
  position: fixed;
  z-index: 15;
}

header a {
  color: #242d52;
}

header a:hover {
  color: #9095a7;
}

header ul {
  padding: 0;
}

header .desk-nav {
  height: 20vh;
  display: none;
}

header .desk-nav img {
  transform: translateY(20%);
}

header .desk-nav ul {
  display: flex;
}

header .desk-nav ul li {
  margin: 0 13px;
}

header .desk-nav .cta {
  color: white;
  border-radius: 30px;
  background-color: #f25f3a;
  padding: 10px 25px 15px;
  box-shadow: 0 12px 5px 0 #ffcac2;
}

header .desk-nav .cta:hover {
  color: white;
  background-color: rgba(242, 95, 58, 0.705);
}

header .mobile-nav {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
}

header .mobile-nav .logo-hamburger {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .mobile-nav .logo-hamburger #hamburger-icon {
  z-index: 20;
  position: relative;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  background-color: #242d52;
  transform: translateY(-300%);
}

header .mobile-nav .logo-hamburger #hamburger-icon span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #242d52;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}

header .mobile-nav .logo-hamburger #hamburger-icon span:nth-child(1) {
  top: 0px;
}

header .mobile-nav .logo-hamburger #hamburger-icon span:nth-child(2),
header .mobile-nav .logo-hamburger #hamburger-icon span:nth-child(3) {
  top: 10px;
}

header .mobile-nav .logo-hamburger #hamburger-icon span:nth-child(4) {
  top: 20px;
}

header .mobile-nav .logo-hamburger #hamburger-icon.open {
  background: transparent;
}

header .mobile-nav .logo-hamburger #hamburger-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

header .mobile-nav .logo-hamburger #hamburger-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

header .mobile-nav .logo-hamburger #hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

header .mobile-nav .logo-hamburger #hamburger-icon.open span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}

header .mobile-nav .ul-links-mobile {
  z-index: 10;
  font-weight: 700;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0px;
  max-width: 600px;
  border-radius: 20px;
  background-color: white;
  padding: 25px 0;
  transition: width 500ms ease-out, height 500ms ease-out;
  text-align: center;
}

header .mobile-nav .ul-links-mobile li {
  margin: 15px 0;
  visibility: hidden;
  opacity: 0;
  transition: visibilty 0s, opacity 1.4s ease-out;
}

header .ul-links-mobile.active {
  visibility: visible;
  height: 250px;
  width: 80vw;
}

header .ul-links-mobile.active li {
  visibility: visible;
  opacity: 1;
}

header.scrolled {
  background-color: white;
  box-shadow: 0 8px 3px rgba(128, 128, 128, 0.637);
}

@media (min-width: 991px) {
  .overlay {
    display: none !important;
  }
  .desk-nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav {
    display: none !important;
  }
}

.banner {
  padding-top: 150px;
}

.banner::before {
  content: "";
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 600px;
}

.banner img {
  max-width: 100%;
}

.banner .item1 {
  padding-right: 40px;
}

.banner .item1 h1 {
  font-size: 2.4rem;
  margin-bottom: 25px;
  max-width: 475px;
}

.banner .item1 p {
  max-width: 475px;
}

.banner .item1 .cta {
  display: inline-block;
  color: white;
  border-radius: 30px;
  background-color: #f25f3a;
  padding: 10px 25px 15px;
  font-weight: 500;
  margin-top: 15px;
  box-shadow: 0 12px 5px 0 #ffcac2;
}

.banner .item1 .cta:hover {
  color: white;
  background-color: rgba(242, 95, 58, 0.705);
}

@media (max-width: 768px) {
  .banner {
    text-align: center;
  }
  .banner .item1 {
    padding-right: auto;
    order: 2;
    padding: 0 20px;
  }
  .banner .item2 {
    order: 1;
  }
}

.proof {
  margin-top: 200px;
  position: relative;
}

.proof::after {
  position: absolute;
  content: url("../images/bg-tablet-pattern.svg");
  max-width: 50%;
  height: 200px;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.proof .item1 h2 {
  margin-bottom: 30px;
  max-width: 400px;
}

.proof .item1 p {
  max-width: 350px;
}

.proof .item2 ol {
  counter-reset: ol-counter;
}

.proof .item2 ol li {
  counter-increment: ol-counter;
  position: relative;
  margin-left: 40px;
}

.proof .item2 ol li::before {
  position: absolute;
  content: "0" counter(ol-counter);
  background-color: #f25f3a;
  color: white;
  padding: 5px 23px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proof .item2 ol li p {
  margin-left: 90px;
}

.proof .item2 ol li h3 {
  font-size: 1rem;
  padding-left: 90px;
}

@media (max-width: 767px) {
  .proof .item1 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .proof .item1 h2,
  .proof .item1 p {
    max-width: 100%;
  }
  .proof .item1 p {
    margin-bottom: 70px;
  }
  .proof .item2 ol li {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .proof .item2 ol li h3 {
    margin-bottom: 0;
    min-height: 33px;
    background-color: #ffefeb;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .proof .item2 ol li p {
    margin-left: 0;
  }
}

.testimonials {
  margin-top: 130px;
}

.testimonials .testimonial {
  margin-top: 100px !important;
  margin-bottom: 25px !important;
  background-color: #fafafa;
  margin: 0 25px;
  overflow: visible !important;
  padding: 0 15px;
}

.testimonials .testimonial img {
  width: 70px;
  margin: -35px auto 20px;
}

.testimonials .testimonial h3 {
  font-size: 0.9rem;
}

.testimonials .testimonial p {
  text-align: center;
}

.testimonials .slick-dots li button::before {
  font-size: 12px;
  color: #f25f3a;
}

.testimonials .cta {
  margin-top: 50px;
  display: inline-block;
  color: white;
  border-radius: 30px;
  background-color: #f25f3a;
  padding: 10px 25px 15px;
  box-shadow: 0 12px 5px 0 #ffcac2;
}

.testimonials .cta:hover {
  color: white;
  background-color: rgba(242, 95, 58, 0.705);
}

.simplify {
  margin-top: 100px;
  background: url("../images/bg-simplify-section-desktop.svg"), #f25f3a;
  background-position: top 0 left 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.simplify .container {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simplify .container h2 {
  color: white;
  max-width: 450px;
}

.simplify .container .cta {
  border-radius: 30px;
  background-color: white;
  color: #f25f3a;
  padding: 10px 25px 15px;
  display: inline-block;
  text-align: center;
}

.simplify .container .cta:hover {
  color: rgba(242, 95, 58, 0.432);
}

@media (max-width: 684px) {
  .simplify {
    padding: 50px 0;
    background: url("../images/bg-simplify-section-mobile.svg"), #f25f3a;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .simplify .container {
    flex-direction: column;
    text-align: center;
  }
  .simplify .container h2 {
    max-width: 400px;
  }
}

footer {
  background-color: #1e1e26;
  color: white;
  padding: 60px 0;
}

footer a:hover {
  color: #f25f3a;
}

footer .item1 .logo-img {
  filter: invert(100%);
  width: 150px;
}

footer .item1 i {
  margin: 0 10px;
  font-size: 20px;
}

footer .item1 i:hover {
  color: #f25f3a;
}

footer .item1 p {
  display: none;
}

footer .item2 {
  max-width: 400px;
  margin: 0 auto;
}

footer .item2 li {
  margin: 10px 0;
}

footer .item3 input {
  padding: 8px 8px 8px 13px;
  border-radius: 20px;
  font-size: 15px;
  margin-right: 15px;
}

footer .item3 button {
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  background-color: #f25f3a;
}

footer .item3 button:hover {
  background-color: #f17d5f;
}

footer .item3 p {
  font-size: 14px;
  color: #9095a7;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 992px) {
  footer .item3 {
    order: 1;
    margin-bottom: 30px;
  }
  footer .item3 form {
    display: flex;
    justify-content: space-between;
  }
  footer .item3 input {
    width: 70%;
    margin-right: 0;
  }
  footer .item3 button {
    width: 20%;
  }
  footer .item3 p {
    display: none;
  }
  footer .item2 {
    order: 2;
    margin-bottom: 30px;
  }
  footer .item1 {
    order: 3;
  }
  footer .item1 i {
    font-size: 1.75rem;
  }
  footer .item1 .logo {
    order: 2;
  }
  footer .item1 .social-links {
    order: 1;
    margin-bottom: 30px;
  }
  footer .item1 p {
    order: 3;
    display: block;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */